* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color: #EEEEEE;
}

body {
  color: #454545;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #07a;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: #8D8741;
  color: #FBEEC1;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  text-align: center;
}

header {
  background-color: #D7D7D7;
}

nav {
  max-width: 1366px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
nav .logo {
  font-size: 1.8rem;
}
nav .logo a {
  color: #659DBD;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
nav ul li a {
  color: #659DBD;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 0.8rem;
}
nav ul li a:hover {
  color: #8D8741;
}

main {
  background-color: #EEEEEE;
  max-width: 1366px;
  margin: auto;
}

.showcase-section {
  background-color: #EEEEEE;
  padding: 1rem;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "showcase showcase top-box-a" "showcase showcase top-box-b";
}

.showcase {
  color: #8D8741;
  grid-area: showcase;
  min-height: 450px;
  background: url(../img/yoga0.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.showcase h1 {
  font-size: 4rem;
}
.showcase p {
  font-size: 1.3rem;
}

.top-box {
  background-color: #659DBD;
  color: #FBEEC1;
  padding: 1.5rem;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

.class-section {
  background-color: #EEEEEE;
  padding: 1rem;
}
.class-section article {
  background-color: #D7D7D7;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.class-section article div h1 {
  color: #8D8741;
  font-size: 2rem;
}
.class-section article div p {
  font-size: 1.2rem;
  padding-top: 0.4rem;
}
.class-section article img {
  height: 250px;
}

.schedule-section {
  background-color: #D7D7D7;
  height: 500px;
  padding: 1rem;
  display: flex;
  place-items: center;
  justify-content: center;
  overflow-x: auto;
}
.schedule-section h2 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  padding: 0px 8px;
}
.schedule-section table {
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
}
.schedule-section table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.schedule-section table tr:nth-child(odd) {
  background-color: #f2f2f2b9;
}
.schedule-section table tr th, .schedule-section table tr td {
  text-align: center;
  padding: 8px 16px;
}
.schedule-section table tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #8D8741;
  color: #FBEEC1;
}
.schedule-section table tr td {
  line-height: 1.6rem;
}

.social-section {
  background-color: #EEEEEE;
  height: 500px;
  padding: 1rem;
  display: flex;
  place-items: center;
  justify-content: center;
  overflow-x: auto;
}
.social-section a {
  text-decoration: none;
}
.social-section a article {
  padding: 1rem;
  display: flex;
  place-items: center;
}
.social-section a article h2 {
  color: #454545;
}
.social-section a article i {
  color: #659DBD;
  padding-right: 1rem;
}

footer {
  background-color: #D7D7D7;
}
footer address {
  display: grid;
  place-items: center;
}
footer address a {
  text-decoration: none;
}

@media (max-width: 767.98px) {
  nav {
    display: grid;
    justify-content: initial;
  }
  nav .logo {
    text-align: center;
  }
  nav ul {
    width: 100%;
  }

  .schedule-section {
    flex-direction: column;
  }
  .schedule-section h2 {
    width: 80%;
    padding-bottom: 4rem;
    font-size: 1.7rem;
  }
  .schedule-section table {
    font-size: 0.8rem;
  }
  .schedule-section table tr td {
    line-height: 1.4rem;
  }

  .social-section article {
    flex-direction: column;
  }
  .social-section article h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 575.98px) {
  nav {
    padding: 0.4rem 0rem;
  }
  nav .logo {
    font-size: 1.2rem;
  }
  nav ul {
    padding: 0.4rem 0px;
  }
  nav ul li a {
    padding: 0px;
  }

  .showcase-section {
    display: flex;
    flex-direction: column;
  }

  .schedule-section table {
    font-size: 0.7rem;
  }
  .schedule-section table tr th, .schedule-section table tr td {
    padding: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
